@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-medical-50 text-medical-800 font-sans antialiased overflow-hidden;
}

/* 自定义滚动条 */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  @apply bg-transparent;
}
::-webkit-scrollbar-thumb {
  @apply bg-medical-200 hover:bg-medical-400 rounded transition-colors;
}

/* 切角效果 (Chamfer) - 核心设计元素 */
.chamfer-br {
  clip-path: polygon(0 0, 100% 0, 100% calc(100% - 10px), calc(100% - 10px) 100%, 0 100%);
}
.chamfer-tl {
  clip-path: polygon(10px 0, 100% 0, 100% 100%, 0 100%, 0 10px);
}